# what is JSON and sql

### JSON is javascript on notation and is universal language data format.The data returned by API is in JSON format.
### Sql -> data from database and loaded using pandas

In [1]:
import pandas as pd

# Working with JSON

documentation link of read_json: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html

In [2]:
# converting JSON file to pandas dataframe

In [3]:
df=pd.read_json('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day16%20-%20working-with-json-and-sql/train.json')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39774 entries, 0 to 39773
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39774 non-null  int64
 1   cuisine      39774 non-null  object
 2   ingredients  39774 non-null  object
dtypes: int64(1), object(2)
memory usage: 932.3+ KB

# Working with SQL

documentation link of read_sql_query: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html

In [5]:
# steps to import the data from sql : 
# 1. DOwnload the sql file 
# 2. Go to mysql workbench and go to Server and data import
# 3. click on Import from self-contained file and choose the .sql file from the laptop
# 4. click start import and once completed database will be created

In [6]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\python anaconda setip 2.0\lib\site-packages (2.2.9)

In [7]:
import mysql.connector # Bridge between the mysql and python

In [19]:
con=mysql.connector.connect(host='localhost',user='root',password='@prabal9869',database='subidhaghar',auth_plugin='mysql_native_password')

In [21]:
pd.read_sql_query('select * from categories',con)

C:\Users\Prabal Kuinkel\AppData\Local\Temp\ipykernel_5532\3910764760.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('select * from categories',con)

,id,created_at,updated_at,name,description
0,1,None,None,Tutor,Experienced educators providing personalized l...
1,2,None,None,Carpenter,Skilled craftsmen specializing in woodworking ...
2,3,None,None,Plumber,Professionals offering installation and repair...
3,4,None,None,Electrician,Trained technicians specializing in electrical...
4,5,None,None,Chef,Culinary experts creating delicious dishes and...
5,6,None,None,Painter,Artisans providing painting and decorating ser...
6,7,None,None,Mechanic,Skilled technicians offering repair and mainte...
7,8,None,None,Gardener,"Experts in landscaping, gardening, and outdoor..."
8,9,None,None,Designer,Creative professionals designing visual concep...
9,10,None,None,Consultant,Advisors offering expert advice and solutions ...