In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df=pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day24-standardization/Social_Network_Ads.csv")

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Train Test Split

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x=df.iloc[:,2:4]
y=df.iloc[:,4]

In [8]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [9]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
x_train

     Age  EstimatedSalary
259   45           131000
209   46            22000
350   38           113000
249   35            97000
54    27            58000
..   ...              ...
133   21            68000
392   45            45000
76    18            52000
77    22            27000
42    35           108000

[320 rows x 2 columns]

In [12]:
from sklearn.preprocessing import StandardScaler
scaler =StandardScaler()

In [13]:
scaler.fit(x_train)

StandardScaler()

In [24]:
# x_trainscale=scaler.fit_transform(x_train)
# x_testscale=scaler.fit_transform(x_test)

In [27]:
pd.DataFrame(x_trainscale,columns=x_train.columns)

          Age  EstimatedSalary
0   -0.937715        -0.948069
1    0.312171        -0.503488
2   -0.072409        -1.066624
3    1.562057         0.030009
4   -0.168554        -0.266378
..        ...              ...
315  0.408316        -0.473849
316 -0.456990        -0.533127
317  0.216026         0.178203
318 -0.553135        -1.511205
319 -1.418441        -0.088546

[320 rows x 2 columns]

In [29]:
scaler.mean_

array([3.72625e+01, 7.27625e+04])