In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data-sets\customer.csv")

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
#Here gender , review and education are input columns i.e X and gender is nomial categorical and review and education is ordinal 
#Here purchased is target/output i.e Y and is nomial categorical
#So for nominal categorical data we use  one hot encoding 
#And for ordinal categorical data in input columns we use ordinal encoding and fro ordinal categorical data in output column we use label endoding

In [5]:
#we have to use one hot encoder to gender column
#we have to use ordinal encoder to review and education column
#and label encoder to purchased column

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
#Ignoring age and gender columns for now 
x=df.iloc[:,2:4]
y=df.iloc[:,4:]

In [8]:
x

     review education
0   Average    School
1      Poor        UG
2      Good        PG
3      Good        PG
4   Average        UG
5   Average    School
6      Good    School
7      Poor    School
8   Average        UG
9      Good        UG
10     Good        UG
11     Good        UG
12     Poor    School
13  Average    School
14     Poor        PG
15     Poor        UG
16     Poor        UG
17     Poor        UG
18     Good    School
19     Poor        PG
20  Average    School
21  Average        PG
22     Poor        PG
23     Good    School
24  Average        PG
25     Good    School
26     Poor        PG
27     Poor        PG
28     Poor    School
29  Average        UG
30  Average        UG
31     Poor    School
32  Average        UG
33     Good        PG
34  Average    School
35     Poor    School
36     Good        UG
37  Average        PG
38     Good    School
39     Poor        PG
40     Good    School
41     Good        PG
42     Good        PG
43     Poor        PG
44  Average        UG
45     Poor        PG
46     Poor        PG
47     Good        PG
48     Good        UG
49     Good        UG

In [9]:
y

   purchased
0         No
1         No
2         No
3         No
4         No
5        Yes
6         No
7        Yes
8         No
9        Yes
10       Yes
11       Yes
12        No
13        No
14       Yes
15        No
16       Yes
17       Yes
18        No
19       Yes
20       Yes
21        No
22       Yes
23        No
24       Yes
25        No
26        No
27        No
28        No
29       Yes
30        No
31       Yes
32       Yes
33       Yes
34        No
35       Yes
36       Yes
37       Yes
38        No
39        No
40        No
41       Yes
42       Yes
43        No
44        No
45       Yes
46        No
47       Yes
48       Yes
49        No

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2)

In [11]:
X_train

     review education
13  Average    School
26     Poor        PG
23     Good    School
3      Good        PG
7      Poor    School
17     Poor        UG
15     Poor        UG
25     Good    School
40     Good    School
18     Good    School
27     Poor        PG
20  Average    School
38     Good    School
6      Good    School
47     Good        PG
32  Average        UG
21  Average        PG
45     Poor        PG
1      Poor        UG
29  Average        UG
22     Poor        PG
4   Average        UG
37  Average        PG
48     Good        UG
39     Poor        PG
14     Poor        PG
10     Good        UG
33     Good        PG
46     Poor        PG
28     Poor    School
42     Good        PG
36     Good        UG
9      Good        UG
8   Average        UG
5   Average    School
24  Average        PG
34  Average    School
12     Poor    School
31     Poor    School
11     Good        UG

In [12]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
# We create an object of Ordinal Encoder
# In categories paramater there comes the values of 2 columns that we want to transform
# In first column(review) we want Poor ro get the lowest value then slightly higher to Average and highest to Good so we keep in this order(1st poor then Average then good)
# If we do not specify the categories paramater than randomly among good,average and poor will get the highest value/order
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [14]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [15]:
#After we perform train test split we fit the model on training data and transform both training ad testing data becaue:
# --->Fitting: Learn patterns from training data only.
# --->Transforming: Apply learned patterns to both training and testing data for consistency and fair evaluation.


# 2. Reasons for Fitting Only on Training Data:

#     Data Leakage: Fitting the model on both the training and testing data can introduce data leakage. This occurs when information from the testing set unintentionally influences the model's learning process, leading to overfitting and poor generalization.
#     Evaluation Bias: Evaluating the model's performance on data it has already seen (the testing set) can provide a biased estimate. The model might perform better than expected on unseen data.

In [16]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [17]:
#Now we transform both training and test data
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [18]:
X_train

array([[1., 0.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [2., 1.]])