In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data-sets\covid_toy.csv")

In [3]:
df.tail(30)

    age  gender  fever   cough       city has_covid
70   68  Female  101.0  Strong      Delhi        No
71   75  Female  104.0  Strong      Delhi        No
72   83  Female  101.0    Mild    Kolkata        No
73   34    Male   98.0  Strong    Kolkata       Yes
74   34  Female  104.0  Strong      Delhi        No
75    5    Male  102.0    Mild    Kolkata       Yes
76   80    Male  100.0    Mild  Bangalore       Yes
77    8  Female  101.0    Mild    Kolkata        No
78   11    Male  100.0    Mild  Bangalore       Yes
79   48  Female  103.0    Mild    Kolkata       Yes
80   14  Female   99.0    Mild     Mumbai       Yes
81   65    Male   99.0    Mild      Delhi        No
82   24    Male   98.0    Mild    Kolkata       Yes
83   17  Female  104.0    Mild    Kolkata        No
84   69  Female   98.0  Strong     Mumbai        No
85   16  Female  103.0    Mild  Bangalore       Yes
86   25    Male  104.0    Mild  Bangalore       Yes
87   47    Male  101.0  Strong  Bangalore        No
88    5  Female  100.0    Mild    Kolkata        No
89   46    Male  103.0  Strong  Bangalore        No
90   59  Female   99.0  Strong      Delhi        No
91   38    Male    NaN    Mild      Delhi       Yes
92   82  Female  102.0  Strong    Kolkata        No
93   27    Male  100.0    Mild    Kolkata       Yes
94   79    Male    NaN  Strong    Kolkata       Yes
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [4]:
# We will apply column transformer
# 1.Gender,city -> Nominal Encoder
# 2.Cough  -> Ordinal Encoder(OHE)
# 3.has_covid -> Label Encoder

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x=df.iloc[:,0:5]
y=df.iloc[:,-1]

In [7]:
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [8]:
y

0      No
1     Yes
2      No
3      No
4      No
     ...
95     No
96    Yes
97     No
98     No
99    Yes
Name: has_covid, Length: 100, dtype: object

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [10]:
x_train

    age  gender  fever   cough       city
46   19  Female  101.0    Mild     Mumbai
48   66    Male   99.0  Strong  Bangalore
11   65  Female   98.0    Mild     Mumbai
94   79    Male    NaN  Strong    Kolkata
58   23    Male   98.0  Strong     Mumbai
..  ...     ...    ...     ...        ...
52   47  Female  100.0  Strong  Bangalore
10   75  Female    NaN    Mild      Delhi
42   27    Male  100.0    Mild      Delhi
80   14  Female   99.0    Mild     Mumbai
72   83  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

In [11]:
y_train

46     No
48     No
11    Yes
94    Yes
58    Yes
     ...
52    Yes
10     No
42    Yes
80    Yes
72     No
Name: has_covid, Length: 80, dtype: object

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [27]:
df['cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [28]:
df['city'].unique()

array(['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'], dtype=object)

In [14]:
# We will apply column transformer
# 1.Gender,city -> Nominal Encoder
# 2.Cough  -> Ordinal Encoder(OHE)
# 3.has_covid -> Label Encoder

In [15]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [16]:
# ct = ColumnTransformer(transformers=[
#     ('cough_ordinal_encoder',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
#     ('ohe',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
    
#     ],remainder='passthrough'
# )

In [23]:
ct = ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(sparse=False,drop='first'),['gender','city']),
    # ('le',LabelEncoder(),['has_covid']),
    ('ne',OrdinalEncoder(categories=[['Mild','Strong']]),['cough'])
],remainder='passthrough')

In [24]:
ct.fit(x_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ColumnTransformer(remainder='passthrough',
                  transformers=[('ohe',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['gender', 'city']),
                                ('ne',
                                 OrdinalEncoder(categories=[['Mild',
                                                             'Strong']]),
                                 ['cough'])])

In [25]:
ct.transform(x_train).shape

(80, 7)

In [26]:
ct.transform(x_train)

array([[  0.,   0.,   0.,   1.,   0.,  19., 101.],
       [  1.,   0.,   0.,   0.,   1.,  66.,  99.],
       [  0.,   0.,   0.,   1.,   0.,  65.,  98.],
       [  1.,   0.,   1.,   0.,   1.,  79.,  nan],
       [  1.,   0.,   0.,   1.,   1.,  23.,  98.],
       [  1.,   1.,   0.,   0.,   0.,  15., 101.],
       [  0.,   0.,   0.,   1.,   0.,  60.,  99.],
       [  1.,   1.,   0.,   0.,   0.,  83.,  98.],
       [  1.,   0.,   0.,   0.,   0.,  51., 104.],
       [  1.,   0.,   0.,   0.,   1.,  47., 101.],
       [  0.,   1.,   0.,   0.,   1.,  40.,  98.],
       [  0.,   1.,   0.,   0.,   0.,  49., 101.],
       [  1.,   0.,   1.,   0.,   0.,  27., 100.],
       [  1.,   0.,   1.,   0.,   0.,   5., 102.],
       [  1.,   0.,   0.,   0.,   0.,  73.,  98.],
       [  1.,   1.,   0.,   0.,   0.,  19., 101.],
       [  1.,   0.,   0.,   0.,   1.,  14., 101.],
       [  0.,   1.,   0.,   0.,   1.,  59.,  99.],
       [  0.,   0.,   0.,   1.,   1.,  81.,  98.],
       [  1.,   0.,   1.,   0.,   0.,  82.,  nan],
       [  0.,   0.,   1.,   0.,   0.,  50., 103.],
       [  0.,   0.,   1.,   0.,   1.,  13., 100.],
       [  1.,   0.,   1.,   0.,   0.,  60., 103.],
       [  1.,   0.,   1.,   0.,   0.,  51., 104.],
       [  1.,   0.,   0.,   0.,   0.,  65.,  99.],
       [  0.,   0.,   0.,   0.,   0.,  84.,  nan],
       [  0.,   0.,   1.,   0.,   0.,  19., 100.],
       [  0.,   0.,   0.,   0.,   1.,  42.,  nan],
       [  0.,   0.,   1.,   0.,   0.,  26.,  98.],
       [  0.,   0.,   1.,   0.,   1.,  25.,  99.],
       [  0.,   0.,   1.,   0.,   0.,  69., 103.],
       [  0.,   0.,   0.,   0.,   1.,  82., 102.],
       [  0.,   0.,   1.,   0.,   1.,  71.,  98.],
       [  1.,   0.,   1.,   0.,   0.,  55., 100.],
       [  0.,   0.,   0.,   0.,   0.,  22.,  99.],
       [  1.,   0.,   0.,   0.,   1.,  12.,  98.],
       [  1.,   1.,   0.,   0.,   0.,  27., 100.],
       [  0.,   0.,   0.,   0.,   0.,  69., 102.],
       [  0.,   1.,   0.,   0.,   0.,  73., 103.],
       [  1.,   0.,   0.,   1.,   0.,  74., 102.],
       [  0.,   1.,   0.,   0.,   1.,  75., 104.],
       [  1.,   0.,   0.,   0.,   0.,  72.,  99.],
       [  0.,   0.,   0.,   0.,   1.,  49.,  99.],
       [  0.,   0.,   1.,   0.,   1.,  51., 101.],
       [  0.,   0.,   0.,   0.,   0.,  20., 101.],
       [  1.,   0.,   1.,   0.,   0.,  16., 104.],
       [  1.,   0.,   1.,   0.,   1.,  34.,  98.],
       [  0.,   0.,   0.,   1.,   1.,  69.,  98.],
       [  1.,   0.,   0.,   0.,   0.,  64., 102.],
       [  1.,   1.,   0.,   0.,   0.,  42., 101.],
       [  0.,   0.,   1.,   0.,   0.,   5., 100.],
       [  1.,   0.,   0.,   0.,   0.,  11., 100.],
       [  0.,   0.,   0.,   1.,   0.,  81., 101.],
       [  0.,   0.,   0.,   0.,   1.,  24., 102.],
       [  0.,   0.,   0.,   0.,   0.,  12., 104.],
       [  1.,   0.,   1.,   0.,   0.,  83., 103.],
       [  1.,   0.,   0.,   0.,   0.,  80., 100.],
       [  0.,   0.,   0.,   0.,   0.,  16., 103.],
       [  0.,   0.,   0.,   0.,   1.,  56., 104.],
       [  0.,   1.,   0.,   0.,   0.,  80.,  98.],
       [  0.,   0.,   1.,   0.,   0.,   8., 101.],
       [  0.,   0.,   0.,   0.,   0.,  64.,  98.],
       [  1.,   0.,   1.,   0.,   1.,  71.,  nan],
       [  0.,   0.,   0.,   1.,   1.,   5.,  98.],
       [  1.,   1.,   0.,   0.,   1.,  20., 102.],
       [  0.,   0.,   1.,   0.,   0.,  17., 104.],
       [  1.,   0.,   0.,   0.,   0.,  10., 100.],
       [  1.,   0.,   0.,   1.,   0.,  44., 104.],
       [  0.,   1.,   0.,   0.,   1.,  68., 101.],
       [  0.,   0.,   0.,   1.,   1.,  20.,  nan],
       [  1.,   0.,   1.,   0.,   0.,  24.,  98.],
       [  0.,   0.,   1.,   0.,   1.,  54., 104.],
       [  1.,   1.,   0.,   0.,   0.,  65.,  99.],
       [  1.,   0.,   1.,   0.,   1.,  70., 103.],
       [  0.,   0.,   1.,   0.,   0.,  48., 103.],
       [  0.,   0.,   0.,   0.,   1.,  47., 100.],
       [  0.,   1.,   0.,   0.,   0.,  75.,  nan],
       [  1.,   1.,   0.,   0.,   0.,  27., 100.],
       [  0.,   0.,   0.,   1.,   0.,  14.,  99.],
       [  0.,   0.,   1.,   0.,   0.,  83., 101.]])